* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(53, 179, 211); 
  font-family: sans-serif;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: rgb(20, 102, 179);
  text-align: center;
  font-size: 50;
}

h2 {
  color: black;
  text-align: center;
}

.peeps-board {
  margin: 50px auto;
  border: 3px solid white;
  border-radius: 30px;
  text-align: center;
  width: 700px;
  color: rgb(7, 68, 87);
  font-size: 20px;
  padding: 80px, 80px;
  font-family: sans-serif;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(53, 179, 211);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(20, 102, 179);
}