<html>
  <div>
    <h1>Welcome to Chitter!</h1>
  </div>
  <div>
    <a id="button" href="/sign_up">Sign Up</a>
    <a id="button" href="/login">Login</a>
  </div>
  <body>
    <div> 
      <h2>The latest from Makers</h2>
    </div>
  </body>
</html>