<html>
  <div>
    <h1>Welcome to Chitter!</h1>
  </div>
  <div>
    <h1>Please enter your details!</h1>
  </div>
  <body>
    <div> 
      <form action="/add_user" method="post">
        <input type="text" name="new_user_name" placeholder="Full Name" />
        <input type="text" name="new_user_username" placeholder="Username" />
        <input type="email" name="new_user_email" placeholder="Email address" />
        <input type="password" name="new_user_password" placeholder="Password" />
        <input id="button" type="submit" value="Sign up!" />
      </form>
    </div>
    <div>
      <a id="button" href="/">Return to Homepage</a>
    </div>
  </body>
</html>